@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: #F4F6F6;
    padding: 0 24px;
}


#toast {
    visibility: hidden;
    margin: 0 auto;
    top: -56px;
    transform: scale(0.9);
    left: 24px;
    right: 24px;
    position: absolute;
    padding: 16px;
    background: black;
    color: white;
    max-width: 220px;
    text-align: center;
    border-radius: 8px;
    transition: all 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

#toast.show {
    visibility: visible;
    transform: scale(1);
    top: 24px;
}


.container {
    margin: 112px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 420px;
    min-width: 320px;
}

.text {
    /* max-width: 300px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.headline {
}

.desc {
    max-width: 300px;
}

h1 {
    font-size: 32px;
    letter-spacing: -0.045ch;
    margin-left: -1px;
}

p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 140%;
}

button {
    font-weight: bold;
    border: 2px solid black;
    color: black;
    background: #7AFEAC;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

button:hover {
    transform: scale(1.025);
    box-shadow: 4px 4px 0px black;
}

button:active {
    transform: scale(1);
    box-shadow: 1.5px 1.5px 0px black;
}

button:focus {
    outline: 0;
}

.passwords {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.passwords.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.password {
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    transition: all 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.password:hover {
    transform: scale(1.025);
    background: rgba(0, 0, 0, 0.1);    
}

.password:active {
    transform: scale(1);
}

